.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(227, 245, 248);
    height: 50vh;

    .container {
        width: 1200px;
        display: flex;

        .socials {
            .logo {

            }

            .soc {

            }

            .srtlin {

            }

            .newsletter {

            }
        }

    }

    .rights {

        .left {

        }

        .right {
            
        }
    }
}